.admin{
	width: 1349px;
}
.admin .banner{
	width: 100%;
	color: #FFF;
	background-color: #666;
	text-align: center;
	height: 100px;
}
.admin .mid-grids-top{
	width: 98%;
	font-family: "Comic Sans MS", cursive;
	color: #F69;
	background-color: #000;
	padding: 1%;
	border: 1px solid #F69;
	text-align: center;
	clear: both;
}
.admin .mid-grids-function{
	width: 75%;
	height: 100px;
	border: 2px solid #000;
	text-align: right;
	vertical-align: middle;
	padding-left: 25%;
}
.admin  .mid-grids-function .mid-grids-menu{
	margin: 10px;
	float: left;
	width: 9%;
	border: 1px solid #000;
	text-align: center;
	padding: 5px;
	height: 60%;
	
}
.admin .main-body{
	width: 100%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #666;
	border-right-color: #666;
	border-left-color: #666;
		
}
